# Git
.git
.gitignore

# Python caches
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual envs
.env
.venv
env/
.poetry-cache/

# Data / outputs
data/
_site/
_book/
.quarto/
*.csv
*.tsv
*.parquet
*.feather
*.xlsx
*.sav
*.dta
*.rds
*.RData

# Notebooks checkpoints
*.ipynb_checkpoints/

# VS Code
.vscode/

# Node
node_modules/

# OS junk
.DS_Store
*.bak
tmp/
.tmp/
.cache/
